body {
    background-image: linear-gradient(to right top, #D91B23, #124FEB);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.search {
    background-color: #fff;
    padding: 4px;
    border-radius: 5px
}


.search-2 {
    position: relative;
    width: 100%;
    margin:3% 0%;
}

.search-2 input {
    height: 45px;
    border: none;
    width: 100%;
    padding-left: 18px;
    padding-right: 100px;
    border:1px solid rgb(168, 166, 166)
}

.search-2 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none;
    border:1px solid black
}

.search-2 i {
    position: absolute;
    top: 12px;
    left: -10px;
    font-size: 24px;
    color: #eee
}

.search-2 button {
    position: absolute;
    right: 1px;
    top: 0px;
    border: none;
    height: 45px;
    background-color: red;
    color: #fff;
    width: 90px;
    border-radius: 4px;
   
}



.linkText{
    color: rgb(37, 68, 247);
    cursor: pointer;
}

.linkText:hover{
    color:#4a7af3;
    font-weight: bold;
}

.defaultView{
    font-size: 1.5em;
    font-family:ui-serif;
    font-weight: bold;
}