.linkText{
    color: rgb(15, 49, 240);
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

.linkText:hover{
    color:#6a94fc;
    
}

.defaultView{
    font-size: 1.5em;
    font-family:ui-serif;
    font-weight: bold;
}

.historyContainer{
    border-right:1px solid #000;
    padding-left: 2%;
    height: 90vh;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 20px; 
    height: 20px; 
  }
  
  /* for Firefox add this class as well */
  .thin_scroll{
    scrollbar-width: thin;
  }